{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block title %}{{ settings.APPLICATION_TITLE }}{% endblock %}
{% block pretitle %}{% endblock %}
{% block extra_head %}
{% endblock %}


{% block pagename %} {{ settings.APPLICATION_TITLE }} {% endblock %}
{% block Content %}


    <div class="hero-unit">

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8">
                  {% include "include/messages.html" %}
                </div>
          </div>
              
                <div class="col-md-12">

                
                <div class="col-lg-12 well">
                  

                    
                    
                
                    <h2>Welcome to {{ settings.APPLICATION_TITLE }}</h2>
                    <br><br>
                    
                   
                <h4>Application Programming Interfaces (APIs)</h4>
                 <br>
                <p>These APIs are configured for this instance.</p>
                 <br><br>
                <ul>
                <li>FHIR Patient Resource | <a href="https://www.hl7.org/fhir/patient.html">docs</a>
                               <pre>curl -H "Authorization: Bearer some-user-bound-token" "{{settings.HOSTNAME_URL}}{% url 'fhir_endpoint_with_id_oauth' 'Patient' 'some-fhir-patient-id' %}"</pre>
                               </li>
                               
           
                <li>OAuth2 Discovery | <a href="https://tools.ietf.org/html/rfc8414">docs</a>
                               <pre>curl "{{settings.HOSTNAME_URL}}{% url 'oauth_authorization_server' %}"</pre>
                               </li>
                           
                </ul>      
            
            <br>
                    <h4>For Developers</h4>
                    <p><a href="{% url "social:begin" "verifymyidentity-openidconnect" %}">Login</a>
                    here to register your own OAuth2 client applications.
                   </p>
            
              <br>
                    <h4>About</h4>
                    <p> This is an instance of <a href="{{settings.DEVELOPER_DOCS_URI}}">{{settings.PROJECT_NAME}}</a>
                    an open source <a href="https://oauth.net/2/">OAuth2</a> server implementation.
                    {{settings.PROJECT_NAME}} has built-in support for <a href="https://www.hl7.org/fhir/overview.html">HL7 FHIR</a>.
                    Use the built-in FHIR APIs or create your own. See the
                    <a href="https://github.com/TransparentHealth/sharemyhealth/blob/master/README.md">README</a>
                    for information about customization and configuration.</p>
                   
                                    
                </div>
                
                </div>
           

        </div>
    </div>


{% endblock %}
