{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block title %}{{ settings.APPLICATION_TITLE }}{% endblock %}
{% block pretitle %}{% endblock %}
{% block extra_head %}
{% endblock %}


{% block pagename %} {{ settings.APPLICATION_TITLE }} {% endblock %}
{% block Content %}


    <div class="hero-unit">

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8">
                  {% include "include/messages.html" %}
                </div>
          </div>
              
                <div class="col-md-12">

                
                <div class="col-lg-12 well">
                    <h2>Welcome to {{ settings.APPLICATION_TITLE }}</h2>
                    <br><br>
                

                <h4>Patient/Member/Beneficary FHIR Application Programming Interfaces (APIs)</h4>
                <p>Thes APIs allow access to patient data either by exact FHIR reference or by search.
                The test client below is. Please <a href="mailto:sales@videntity.com?subject=OAuth2.org-Inquiry">contact us</a> 
                for sample patient accounts or developer accounts.
                </p> 
                
                <a href="{% url 'test_links' %}"><button type="button" class="btn btn-primary"> <i class="fa fa-user"></i> Member/Patient Test Client</button></a>   
                </p>
                <ul>

                {% for r in settings.FHIR_PATIENT_API_RESOURCES_SUPPORTED %}
                <li>FHIR {{r}} Resource By ID
                    <pre>curl -H "Authorization: Bearer some-user-bound-token" "{{settings.HOSTNAME_URL}}{% url 'patient_facing_fhir_endpoint_with_id_oauth' r 'some-fhir-resource-id' %}"</pre>
                </li>
                
                <li>FHIR {{r}} Search
                    <pre>curl -H "Authorization: Bearer some-user-bound-token" "{{settings.HOSTNAME_URL}}{% url 'patient_facing_fhir_endpoint_search_oauth' r  %}?patient=some-patient-fhir-id"</pre>
                </li>
                {% endfor %}

           
                <li>OAuth2 Discovery | <a href="https://tools.ietf.org/html/rfc8414">docs</a>
                               <pre>curl "{{settings.HOSTNAME_URL}}{% url 'oauth_authorization_server' %}"</pre>
                               </li>
                           
                </ul>      
            
            <br>
                    <h4>For Developers</h4>
                    <p><a href="{% url "social:begin" "verifymyidentity-openidconnect" %}">Login</a>
                    here to register your own OAuth2 client applications.
                   </p>
            
              <br>
                    <h4>About</h4>
                    <p> This is an instance of <a href="{{settings.DEVELOPER_DOCS_URI}}">{{settings.PROJECT_NAME}}</a>
                    an open source <a href="https://oauth.net/2/">OAuth2</a> server implementation.
                    {{settings.PROJECT_NAME}} has built-in support for <a href="https://www.hl7.org/fhir/overview.html">HL7 FHIR</a>.
                    Use the built-in FHIR APIs or create your own. See the
                    <a href="https://github.com/TransparentHealth/sharemyhealth/blob/master/README.md">README</a>
                    for information about customization and configuration.</p>
                   
                                    
                </div>
                
                </div>
           

        </div>
    </div>


{% endblock %}
