{% extends "base.html" %}

{% load i18n %}
{% block Content %}

<style>
    .box {
        height: 825px;
        width: 500px;
        border: 1px solid gray;
        padding: 10px 10px 10px 10px;

    }
    </style>  


<div class="container">
    <div class="row">
        <div class="center-block bg-default box">
            
            {% if not error %}
            <form id="authorizationForm" method="post">

                <h3>Do you, <strong>{{request.user.first_name|title }} {{request.user.last_name|title }}</strong>, approve
                <strong>{{ application.name }}</strong> for <strong>{{settings.PROTECTED_RESOURCE_TITLE}}</strong>?
                </h3>
                
                <h4 style="color:red;">Understand the Risks:</h4>

                <p>
                    You have the right to share your health information with {{ application.name }}, but you should be comfortable with this sharing and assume any risks.
                    Review {{ application.name }}'s <a herf="{{ application.op_tos_uri }}">Privacy Policy</a> and the <a href="{{ application.op_policy_uri }}">Terms and Conditions</a>. 
                    You can revoke {{ application.name }}'s access to your data at any time
                    by logging in to this site and selecting "Revoke" from the Application Access Tokens menu item.
                    While you may revoke further access by {{ application.name }} at any time, it is not possible to take back information already shared with {{ application.name }}.
                </p>
                
                            
                 <h4>Your personal health information may include: </h4>
                
                <ul>
                    <li>Conditions and Diagnosis</li>
                    <li>Medications</li>
                    <li>HIV-related information</li>
                    <li>Mental health information</li>
                    <li>Genetic testing information</li>
                    <li>Sexually transmitted disease information</li>
                    <li>Reproductive health information, including abortion information</li>
                    <li>Alcohol and substance abuse treatment information</li>
                </ul>


                <h4>By clicking "Approve" you also:</h4>
                
                
                <p></p>

                <ul>
                    <li>Are confirming that you are connecting your data to {{ application.name }} by your own choice.</li>
                    <li>Agree that we are not responsible for any misuse of personal health information by the application you are approving.</li>
                    <li>Understand the we cannot retract information already shared with {{ application.name }}.</li>
                    <li>Understand that future data sharing with this application must be explicitly revoked (cancelled) by you by returning to this website or by revoking access
                    at {{ application.name }}.</li>
                    <li>Understand that {{ application.name }} application and the social service organizations that it shares your health information with
                    may not be covered by the privacy and security protections of <a href="https://www.hhs.gov/hipaa/index.html">HIPAA</a>.</li>
                </ul>

                <div class="control-group">
                    <div class="controls">
                        <input type="submit" class="btn btn-large btn-primary" name="allow" value="Approve"/>
                        <input type="submit" class="btn btn-large" value="Do Not Approve"/>
                        
                    </div>
                </div>


                {% csrf_token %}

                {% for field in form %}
                    {% if field.is_hidden %}
                        {{ field }}
                    {% endif %}
                {% endfor %}


                {{ form.errors }}
                {{ form.non_field_errors }}

            </form>
        
        
        </div>
    
    </div>
</div>

        {% else %}
            <h2>Error: {{ error.error }}</h2>
            <p>{{ error.description }}</p>
        {% endif %}


{% endblock %}
